NEXT_PUBLIC_SUPABASE_URL=https://nehcexpdaoypguejwnvg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_WdA7srPvAnDR6rIta6loWA_ZmCFgQbM
NEXT_PUBLIC_API_BASE_URL=http://78.46.148.127:8000
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=your-mapbox-public-token
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
